@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Hind);
@import url(https://fonts.googleapis.com/css?family=Nobile);


html {
	margin: 0;
	padding:0;
	border: none;
	text-decoration: none;
}

body{
	background-image: url(../_img/gronigen.png);
	background-attachment: fixed;
	background-color: saddlebrown;
}

.desktop{
	
}

.mobile{
	
}

.nav {
	position: fixed;
	left:0px;
	z-index: 1000;
}
.icons {
	position:absolute;
}

.clearfix{
	
}

img {
	
}

section{
	
}

header{
	
}

.tomorrowtoday{
	position: absolute;
	margin-top:-200px;
	z-index: -1;
}

h1{
	
}

h2{
	
}

h3{
	
	
	font-weight: 100;
	text-align: center;
	padding-top: 50%;
}

section h4{
	color: white;
	font-size: 100%;
}

.icons h5{
	font-weight: 700;
	font-size:70%;
	text-align: center;
	margin-top:-10px;
}

h6{
position: relative;
text-align: center;
padding: 0 0%;
}

.icons {
	padding-top:35%;
	
}
.floatright img{
	float:right;
	position:relative;
	right:-50px;
}

/** INDEX*/
.contactpage  a{
	color:white;
	
}
.contactpage a:hover{
	color:white;
}
.contacticons  h6{
	padding: 0 30%;
}
/** PORTFOLIO*/
.row header{
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
}

/** NIGEL*/
.code {
	
	background-color:;
	color:white;
	text-align: left;
	font-family: Monaco, "Courier New";
	
}
.code p {
	margin:25% 11% 25% 3%;
	font-family: Monaco, "Courier New";
	font-weight: 100;
	text-indent: -2em;
	font-size: 170%;
}
/** FEATURED*/


/** SUBPAGE*/
.bg {
	background-image: url(../_img/digital_brainstorm_1.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 0%;
	background-position: center;
	height:100%;
}
.bg2 {
	background-image: url(../_img/digital_brainstorm_2.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 0%;
	background-position: center;
	height:100%;
}



/** MOBILE ONLY*/

@media screen and (max-width:568px){
	.hide {
		display:none;
	}
	.show{
		display: block;
	}
	.contacticons{
		width: 10%;
	}
	.bg {
		width:100%;
		height:1000px;
	}
	.bg2 {
		width:100%;
		height:1000px;
	}
	.row section a img {
		height:300px;
		float:none;
		left:40%;
	}
}
